.login-container {
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(254, 245, 245, 0.1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.692); /* Add this line */

  /* Add these properties */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-title {
  text-align: center;
}
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 5px;
  }
  
  .submit-btn, .register-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Change to a green color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
  }
  
  .submit-btn:hover, .register-btn:hover {
    background-color: #45a049; /* Darken the background color on hover */
  }