* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(32, 34, 36, 0.1);
  border-radius: 5px;
  background-color: #202224; /* Secondary background color */
  color: rgba(255, 255, 255, 0.692); /* Text color */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title {
  text-align: center;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  color: black; /* Input text color */
  background-color: #e2d5c9; /* Main background color */
}

.submit-btn, .register-btn {
  width: 100%;
  padding: 10px;
  background-color: #c69354; /* Button background color */
  color: black; /* Button text color */
  font-weight: bold; /* Button text bold */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Hover effect transition */
  font-family: "Arial"
}


.submit-btn:hover, .register-btn:hover {
  background-color: #a5783f; /* Darken the background color on hover */
}
